# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
autopass-frontend/node_modules
autopass-frontend/.pnp
autopass-frontend/.pnp.js

# testing
autopass-frontend/coverage

# next.js
autopass-frontend/.next/
autopass-frontend/out/

# production
autopass-frontend/build

# misc
autopass-frontend/.DS_Store
autopass-frontend/*.pem

# debug
autopass-frontend/npm-debug.log*
autopass-frontend/yarn-debug.log*
autopass-frontend/yarn-error.log*
autopass-frontend/.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# backend
autopass-backend/.vscode
autopass-backend/.encryptedKey.json

autopass-backend/.env
autopass-backend/node_modules
autopass-backend/cache
autopass-backend/artifacts
autopass-backend/deployments
autopass-backend/coverage
autopass-backend/coverage.json
autopass-backend/typechain

autopass-backend/.DS*
autopass-backend/*.log
autopass-backend/gas-report.txt
